    @font-face{
        font-family:"Avenir-Book";
        src:url("/fonts/Avenir/Avenir-Book.eot?#iefix");
        src:url("/fonts/Avenir/Avenir-Book.eot?#iefix") format("eot"),url("/fonts/Avenir/Avenir-Book.woff2") format("woff2"),url("/fonts/Avenir/Avenir-Book.woff") format("woff"),url("/fonts/Avenir/Avenir-Book.ttf") format("truetype");
    }



    @font-face{
        font-family:"Gotham-Book";
        src:url("/fonts/Avenir/Gotham-Book.eot?#iefix");
        src:url("/fonts/Avenir/Gotham-Book.eot?#iefix") format("eot"),url("/fonts/Avenir/Gotham-Book.woff2") format("woff2"),url("/fonts/Avenir/Gotham-Book.woff") format("woff"),url("/fonts/Avenir/Gotham-Book.ttf") format("truetype");
    }
