.home
    p,h1
        color $secondaryTextColor

.bold
    &:after
        content ""
        display block
        width 80px
        margin 0 auto
        border-bottom 10px solid #fff
.t-header
    &:after
        content " "
        width 70px
        margin 0 auto
        display block
        height 8px
        background-color $tuliptree-Navy
        margin-top 10px
