.home
    p,h1
        color $secondaryTextColor
    .absolute-content
        position absolute
        top 0
        margin 0 auto
        text-align center
        width 100%

.bold
    &:after
        content ""
        display block
        width 80px
        margin 0 auto
        border-bottom 10px solid #fff
.t-header
    &:after
        content " "
        width 70px
        margin 0 auto
        display block
        height 8px
        background-color $tuliptree-Navy
        margin-top 10px

.t-button
    width 170px
    font-size 16px
    padding 7px 0
    background-color transparent
    border-color #fff
    box-shadow none
    color #fff
    font-weight 600
    &:hover,active,focus
        background-color #fff
        color $tuliptree-Navy
