.summary-container
    position relative
    //height 630px
    background-image url(../../images/home_mobile.png)
    background-size cover
    @media $tablet-up
        background-image url(../../images/home.jpg)
    .content
        //position absolute
        top 0
        margin 0 auto
        text-align center
        width 100%
        background-color rgba(32,40,66,0.7)
    h1
        font-size 26px
        margin-top 25px
        line-height 30px
        font-weight 700
        color $tuliptree-Aqua
    .down-arrow
        margin-top 60px
        color #fff
        &:after
            content "\f107"
            display block
            font normal normal normal 14px/1 FontAwesome
            font-size 37px
            margin-top 10px
    .t-header
        padding-top 80px
        color #fff
        &:after
            background-color #fff

    .summary-text_wrapper
        margin-top 25px
        padding-bottom 40px
    p
        line-height 23px
        font-size 20px
        padding 0 2%
        //font-style italic
        &:nth-child(2)
            margin-top 20px
    .t-button
        display block
        background-color $tuliptree-Aqua
        border-color $tuliptree-Aqua
        margin 0 auto 15px
        &:hover,active,focus
            background-color $tuliptree-Navy
            border-color $tuliptree-Navy
            color #fff

    //background-image url("../../../images/home.jpg")
    //background-size cover
    //min-height 609px

.img-overlay:before {
    background-color: rgba(32, 40, 66, 0.7);
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
}


.body-logo
    width 110px
    margin-top 70px


.arrow-container
    position relative
#summary-arrow
    animation MoveUpDown 1s linear infinite
    position relative
    left 0
    bottom 0

@keyframes MoveUpDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 0;
  }
}
