#cu-services
    .cu-services_container
        .content
            text-align center
            padding-top 120px
            .cu-services_description
                color $tuliptree-Navy
                margin-top 40px
                font-size 16px
                line-height 24px
        .t-header
             color $tuliptree-Navy

 .cu-services_list_container
    margin-top 40px
    .cu-services_list_item
        list-style-type none
        .list-item_content
            border-top 5px solid $tuliptree-Navy
            margin 0 auto 70px
            max-width 200px
        h3
            margin-top 10px
            font-size 16px
            height 34px
        summary
            margin-top 15px
            font-size 14px
            height 130px
            @media $tablet-up
                height 100px
        button
            margin-top 10px
            background-color $tuliptree-Navy
            color white
            padding 2px 10px
