#services
    .services-container
        position relative
        clip-path polygon(0 0, 100% 17vw, 100% 100%, 0 100%)
        background-image url(../../images/home_mobile.png)
        background-size contain

    .content
        z-index 1
        background-color rgba(32, 40, 66, 0.7)
        padding-bottom 60px
        .t-header
            color #fff
            padding-top 120px
            text-align center
            &:after
                background-color #fff



.services-list_container
    .services-list
        .services-list_item
            list-style-type none
            text-align center
            .img-container
                width 70px
                margin 60px auto 0
            h3
                margin-top 20px
                color #fff
                font-weight 600
                font-size 21px
            summary
                margin-top 10px
                color #fff
                font-style italic
                font-weight 600
            p
                margin-top 10px
                font-weight 600
                line-height 24px
                font-size 16px
            button
                margin-top 30px
