#mod-reviews
    .mod-reviews_container
        background-image url(../../images/mod-reviews.png)
        background-size cover
        .content
            text-align center
            padding 60px 0 40px 0
            background-color rgba(32, 40, 66, 0.7)
            .mod-reviews_description
                margin-top 40px
                width 70%
                margin 40px auto 0
        .t-header
             color #fff
             &:after
                 background-color #fff
         summary
            color #fff
            @media $desktop-up
                text-align left
        .t-button
            display block
            background-color $tuliptree-Aqua
            border-color $tuliptree-Aqua
            margin 0 auto 15px
            width 225px
        .mod-reviews_buttons
            margin-top 25px

    .mod-review_steps
        display flex
        margin-top 30px
        span
            color #fff
            display block
            font-size 12px
            font-weight 900
        .img-container
            height 100px
    .mod-review_stats
        margin-top 20px
        .stat
            color $tuliptree-Aqua
            font-size 45px
            font-weight 900
            color $tuliptree-aqua
        .stat-description
            width 200px
            margin 0 auto
        span
            display block
            color #fff
            font-size 12px




#mr-you-recover
    img
        width 90px
        position relative
        left 6px
        top 15px
        transform scaleY(-1)


#mr-you-sign
    img
        width 70px
#mr-we-process
    img
        width 90px
