#neglected-policies
    .neglected-policies_container
        background-image url(../../images/neglected-policies.png)
        background-size cover
        .content
            text-align center
            padding-bottom 80px
            background-color rgba(32, 40, 66, 0.7)
            .cu-services_description
                color $tuliptree-Navy
                margin-top 40px
                font-size 16px
                line-height 24px
            .np-data
                width 120px
                height auto
                @media $tablet-up
                    width 240px
                image,img
                    width 120px
                    height auto
                    @media $tablet-up
                        width 240px
            p
                font-size 20px
                @media $tablet-up
                    font-size 16px
                    line-height 30px
        .t-header
             color #fff
             word-spacing 9999999px
             &:after
                 background-color #fff

.np-data_container
    display inline-block
    &:nth-child(2)
        margin-left 60px
        .np-data
            position relative
        @media $tablet-up
            margin-left 160px
.np-details
    margin-top 50px
    padding-bottom 40px
