.summary-container
    position relative
    min-height 470px
    .content
        position absolute
        top 0
        margin 0 auto
        text-align center
        width 100%
    h1
        font-size 21px
        margin-top 25px
        line-height 24px
        color $tuliptree-Aqua
    p
        margin-top 15px
        line-height 20px
        font-size 18px
        padding 0 2%
        font-style italic


    //background-image url("../../../images/home.jpg")
    //background-size cover
    //min-height 609px

.overlay:before {
    background-color: rgba(152, 157, 174, 0.7);
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
}


.body-logo
    width 85px
    margin-top 45px
