// slanted edges here
.container-slant
  background #41ade5
  position relative
  z-index 1
  &:before
    background inherit
    content ''
    display block
    height 50%
    left 0
    position absolute
    right 0
    z-index -1
    -webkit-backface-visibility hidden // for Chrome Windows
  &:before
    top 0
    transform skewY(9.5deg)
    transform-origin 100% 0
    @media $tablet-up
        top -13%
        height 700px
  &:after
    bottom 0
    transform skewY(-4.5deg)
    transform-origin 100%



// demo code below
.container-slant
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  //margin: 50px 0;
  padding: 5% 20px;
  text-align: center;
  @media $tablet-up
    padding 0


#about
    padding-bottom 75px
    .container-slant
        color $tuliptree-Navy
        background-color #fff
        p
            color $tuliptree-Navy
            margin-top 35px
            text-align justify
            line-height 24px
    h2
        font-size 24px
        font-weight 700
    h3
        padding-top 30px
        font-weight 700
        font-size 21px
#about-list
    list-style-type none
    padding-top 10px
    width 80%
    margin 0 auto
    .about-stat
        font-size 72px
        font-weight 700
        color $tuliptree-Aqua
    .about-stat_detail
        display block
        font-size 15px
        font-weight 300
