.t-subscribe
    margin 80px auto 0
    .subscribe-title
        text-align center
        font-size 24px
        color $tuliptree-Navy
        span
            display block
            font-size 14px
    td
        display block
        margin-left 15px
        width 525px
        input
            width 500px
    .t-button
        background-color $tuliptree-Aqua
        height 40px
        font-size 22px
        color $tuliptree-Navy
        &:hover,active,focus
            background-color $tuliptree-Navy
            border-color $tuliptree-Navy
            color  #fff
.t-modal_subscribe
    .modal-close
        top 0
        right 90px
        color #000
