.t-subscribe
    margin 40px auto 0
    width 100%
    .subscribe-title
        text-align center
        font-size 24px
        color $tuliptree-Navy
        span
            display block
            font-size 14px
    @media $desktop-up
        width auto
    td
        display block
        margin-left 15px
        width 92%
        @media $desktop-up
            width 525px
        input,select
            width 100%
            @media $desktop-up
                width 500px
    select
        padding-left 10px;
    .t-button
        background-color $tuliptree-Aqua
        height 40px
        font-size 22px
        color $tuliptree-Navy
        &:hover,active,focus
            background-color $tuliptree-Navy
            border-color $tuliptree-Navy
            color  #fff
.t-modal_subscribe
    .modal-close
        top 0
        right 15px
        color #000
        @media $desktop-up
            right 90px
