RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^needs/?([A-Za-z0-9-]*)$  needs-tool.php?start=$1    [NC,L]
RewriteRule    ^quote/?([A-Za-z0-9-]*)$  quick-quote.php?start=$1    [NC,L]
RewriteRule    api/needs  api-needs.php    [NC,L]
RewriteRule    api/quote  api-quote.php    [NC,L]
