#contact-us
    .content
        padding-bottom 50px
    .t-header
        color $tuliptree-Navy
    .contact-us_info
        text-align center
        margin-top 30px
        a
            display block
        .nav-logo
            width 35px
