nav
    position fixed
    z-index 2
    width 100%
    background-color #fff
    box-shadow 2px 1px 1px #eaeaea
#nav-container
    top 0
    height 60px
    z-index 2
#nav
  display none
  padding 15px 0
  @media $tablet-up
    display block
  .nav-item-container
    text-align center
    position relative
    @media $tablet-up
      display inline-block
    .nav-item
        display inline-block
        position relative
        &:nth-child(-n+4)
            @media $tablet-up
                padding-right 30px

      a
        font-size 2.8vw
        padding-left 1vw
        font-family DINAlternate-Bold
        @media $tablet-up
          font-size 18px
          padding-left 0
      .nav-logo
        width 6.5vw
        @media $tablet-up
          width 35px
  .nav-item_box
    position absolute
    background-color $tuliptree-Navy
    right 10px
    width 150px
    height 60px
    a
        font-size 12px
        display block
        color #fff
        &:nth-child(1)
            margin-top 10px
        &:hover,active,focus
          color $tuliptree-Aqua

    .border
        display block
        border-top 1px solid #fff
        width 115px
        margin 0 auto 5px
  #nav-signUp
    position absolute
    top 5px
    a
      color $tuliptree-Aqua
    @media $tablet-up
      right -91px

#mobile-nav
  @media $tablet-up
    display none
.mobile-nav-active
  background-color $tuliptree-Aqua
  height 100vh
.mobile-nav-wrapper
  padding-left 15px
  list-style-type none
  li
    padding 10px 0
    &:hover
      background-color $tuliptree-Navy
      a
        color #fff
    a
      padding-left 15px
.nav-hide
  height 0
  opacity 0
  li, a
    height 0
    opacity 0
