#nav
  display none
  padding 15px 0
  @media $tablet-up
    display block
  .nav-item-container
    text-align center
    position relative
    @media $tablet-up
      display inline-block
    .nav-item
      display inline-block
      @media $desktop-up
        padding-right 15px
      a
        font-size 2.8vw
        padding-left 1vw
        @media $tablet-up
          font-size 22px
          padding-left 0
      .nav-logo
        width 6.5vw
        @media $tablet-up
          width 35px
  #nav-signUp
    position absolute
    top 0
    @media $tablet-up
      right -91px

#mobile-nav
  @media $tablet-up
    display none
.mobile-nav-active
  background-color $tuliptree-Aqua
  height 100vh
.mobile-nav-wrapper
  padding-left 15px
  list-style-type none
  li
    padding 10px 0
    &:hover
      background-color $tuliptree-Navy
      a
        color #fff
    a
      padding-left 15px
.nav-hide
  height 0
  opacity 0
  li, a
    height 0
    opacity 0
